<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/css/style.css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css    ">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="/js/main.js"></script>


</head>

<body onload="formatMoney()">
  <nav class="navbar navbar-expand-lg navbar-light">
    {{!-- <a class="navbar-brand">
      <img class="logo" src="/img/logo.png">
    </a> --}}
    <a class="navbar-brand" href="/"> Cloud Wallet{{#if admin}} Management{{/if}}</a>
    {{#if user}}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/wallet/deposit">Nạp tiền</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/wallet/transfer">Chuyển tiền</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/wallet/withdraw">Rút tiền</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/wallet/phoneCard">Mua thẻ điện thoại</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/wallet/history">Lịch sử</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">

        <li class="avatar dropbtn nav-item">
          <div class="btn-group">
            <button class="btn btn-primary-outline dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                <path fill-rule="evenodd"
                  d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
              </svg>
              {{user.fullname}}
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/users/changePassword/{{user._id}}">Đổi mật khẩu</a>
              <a class="dropdown-item" href="/users/logout">Đăng xuất</a>
            </div>
          </div>
        </li>

      </ul>




    </div>
    {{/if}}

    {{#if admin}}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ">
        <li class="nav-item ">
          <a class="nav-link" href="/admin">Quản lý Tài khoản</a>
        </li>


      </ul>

      <ul class="navbar-nav ml-auto">

        <li class="avatar nav-item">
          <div class="btn-group">
            <button class="btn btn-primary-outline dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                <path fill-rule="evenodd"
                  d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
              </svg>
              Admin
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/users/logout">Đăng xuất</a>
            </div>
          </div>
        </li>

      </ul>




    </div>
    {{/if}}

  </nav>
  {{#if flash.message}}
  <div class="alert alert-dismissible alert-{{flash.type}}" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
    </button>
    <strong>{{flash.intro}}</strong> {{{flash.message}}}
  </div>
  {{/if}}
  {{{body}}}
</body>

</html>